<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style>
        #error{
            color: red;
        }
    </style>
</head>
<body>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="nl" th:text="#{lang.nl}"></option>
</select>
<a th:href="'/tasks'" th:text="#{back}"></a>
<h1 th:text="#{edit}"></h1>


<form th:action="@{'/update/'+${task.getId()}}" method="post">
    <div th:if="${error != null}" id="error">
        <div th:text="#{error}"></div>
    </div>
    <label for="name" th:text="#{taskName}"></label><br>
    <input type="text" id="name" name="name" th:value="*{task.getName()}"><br>
    <label for="description" th:text="#{taskDescr}"></label><br>
    <input type="text" id="description" name="description" th:value="*{task.getDescription()}"><br>
    <label for="date" th:text="#{taskDue}">Due date:</label><br>
    <input type="datetime-local" name="date" id="date" th:value="*{task.getDate()}"><br><br>
    <input type="submit" value="Save">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace(window.location.pathname + '?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>