<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
    <style>
        p, div{
            text-align: center;
            font-size: 18px;
            text-decoration:  none;
        }
        h4, h1{
             text-align: center;
             font-size: 18px;
             text-decoration:  none;
         }
        h1{
            font-size: 24px;
        }
        a{
            font-size: 18px;
            text-decoration:  none;
            align-content: baseline;
        }

    </style>
</head>
<body>
<span th:text="#{lang.change}"></span>:

<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="nl" th:text="#{lang.nl}"></option>
</select>
<a th:href="'/tasks'" th:text="#{back}"></a>
<h1 th:text="#{taskdetail}"></h1>
<h4 th:text="#{title}"></h4>
<p th:text="(${task.name})" ></p>
<h4 th:text="#{taskDescr}"></h4>
<p th:text="(${task.description})"></p>
<h4 th:text="#{taskDue}"></h4>
<p th:text="(${task.getDateString()})"></p>
<h4 th:text="#{subtasks}"></h4>
<div th:if="${subtasks != null}" th:each="subtask : ${subtasks}" class="panel-body text-center">
    <div th:text="(*{subtask.subtaskName}) + ' ' + #{descr} + (*{subtask.subtaskDescription})" class="row"></div>
</div>
<div th:unless="${!task.subtasks.isEmpty()}">
    <div th:text="#{noSub}"></div>
</div>

<a th:href="@{'/tasks/'+${task.id}+'/sub/create'}" th:text="#{createsub}"></a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace(window.location.pathname + '?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>